fedoraApiUrl="https://fedora.localhost/rest"
fedoraUser="***"
fedoraPswd="***"
fedoraIdProp="https://vocabs.acdh.oeaw.ac.at/schema#hasIdentifier"
fedoraRelProp="https://vocabs.acdh.oeaw.ac.at/schema#isPartOf"
fedoraTitleProp="https://vocabs.acdh.oeaw.ac.at/schema#hasTitle"
fedoraPrevProp="https://vocabs.acdh.oeaw.ac.at/schema#isPreviousVersionOf"
fedoraUuidNamespace="https://id.acdh.oeaw.ac.at/uuid/"
fedoraIdNamespace="https://id.acdh.oeaw.ac.at/"
fedoraVocabsNamespace="https://vocabs.acdh.oeaw.ac.at/schema#"
fedoraAclUri="https://fedora.localhost/rest/acl"
sparqlUrl="https://fedora.localhost/blazegraph/sparql"
doorkeeperOntologyLabelProp="http://www.w3.org/2000/01/rdf-schema#label"
